<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ToDo List</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  <div id="app">
    <h1>ToDo List</h1>
    <label>Category</label>
    <select v-model="selectedGenre">
      <option v-for="genre in genres" :value="genre">{{ genre }}</option>
    </select>
    <br><br>
    <label>Task</label>
    <textarea v-model="task"></textarea>
    <br><br>
    <button @click="addTask" :class="{inactive: isBlank}">Add</button>
    <hr>
    <task-component
      v-for="(task, index) in taskList"
      v-bind:taskname="task.taskname"
      v-bind:date="task.date"
      v-bind:genre="task.genre"
      v-bind:index="index"
    ></task-component>
  </div>


  <script>
    Vue.component("task-component", {
      props: ["taskname", "date", "genre", "index"],
      template: `
        <div class="taskarea">
          <div :class="{ 'completed': isCompleted}">
            Category: {{genre}}
            <br>Task: {{taskname}}
            <br>Date: {{date}}
          </div>
            <br><button @click="deleteTask(Number(index))">Delete</button>
            <button v-on:click="isCompleted=true">完了</button>
            <button v-on:click="isCompleted=false">完了取消</button>
        </div>`,
      data: function(){
        return {
          isCompleted: false
        }
      },
      methods: {
        deleteTask: function(index){
          this.$root.taskList.splice(index,1)
        }
      }
    })

    new Vue({
      el: "#app",
      data: {
        genres: ["Admin", "Meeting", "Call", "Housework", "Shopping"],
        task: "",
        selectedGenre: "",
        taskList: []
      },
      computed: {
        isBlank: function(){
          return this.task ==="" || this.selectedGenre ===""
        }
      },
      methods: {
        addTask: function(){
          const day = new Date();
          this.taskList.push({
            "taskname": this.task,
            "genre" : this.selectedGenre,
            "date": day.toLocaleString("ja-JP")
          })
          this.task="";
        }
      }
    })
  </script>

  <style>
    .inActive {
    pointer-events: none;
    color: gray;
  }
  .taskarea {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color:#fafad2;
    padding: 10px 10px 10px 10px;
  }
  .completed {
    text-decoration: line-through;
  }
  </style>

</body>
</html>
