<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>flight ticket info</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <div id="app">
    <h1>航空券のご予約</h1>
    <p>JS-Pro.AirLineをご利用頂きありがとうございます。以下に必要情報をご入力ください。</p>
    <h2>1. フライト情報の入力</h2>
    <h3>出発地と目的地の選択</h3>
    <div>
      出発地：
      <select v-model="depatureRegion">
        <option v-for="region in regions" :value="region.value">{{region.text}}</option>
      </select>
      <div v-for="airport in departureAirports">
        <input type="radio" v-model="departurePlace" :value="airport">{{airport}}</input>
      </div>
    </div>
    <div>
      目的地：
      <select v-model="destinationRegion">
        <option v-for="region in regions" :value="region.value">{{region.text}}</option>
      </select>
      <div v-for="airport in destinationAirports">
        <input type="radio" v-model="destinationPlace" :value="airport">{{airport}}</input>
      </div>
      <div>出発地 → 目的地： {{departurePlace}} → {{destinationPlace}} </div>
    </div>

    <h3>搭乗時間の選択</h3>
    <table border class="table">
      <caption>時間に応じた料金</caption>
      <tr>
        <th>時間</th>
        <th>料金（円）</th>
      </tr>
      <tr v-for="value in timeBasedPrice">
        <td>{{value.time}}</td>
        <td>{{value.price}}</td>
      </tr>
    </table>
    <div>
      <h4>時間を選択してください</h4>
      <div v-for="value in timeBasedPrice">
        <input type="radio" v-model="pricePerMan" :value="value.price">{{value.time}}</input>
      </div>
      <p>一人当たりの金額：{{pricePerMan}}円</p>
    </div>

    <div>
      <h2>お客様情報の入力</h2>
      <span>ご予約者様の氏名</span>
      <span>性: <input v-model="firstName"></span>
      <span>名: <input v-model="lastName"></span>
      <br>

      <span>生年月日</span>
      <input type="date" v-model="birthday">
      <br>

      <span>性別</span>
      <span v-for="gender in genders">
        <input type="radio" v-model="selectedGender" :value="gender">{{gender}}
      </span>
      <br>

      <span>同乗者人数 {{companions}}人</span>
      <button @click="companions++" :class="{ inactive: isUpperVal }">＋</button>
      <button @click="companions--" :class="{ inactive: isLowerVal }">ー</button>
      <span v-show="isUpperVal">同乗者の追加は９人までとなります</span>
    </div>
  </div>

  <style>
    .table {
      text-align: center;
    }
    .inactive {
      pointer-events: none;
      color: gray;
    }

  </style>

  <script>
    new Vue({
      el: "#app",
      data:{
        depatureRegion: "",
        destinationRegion: "",
        regions: [
            {text: "北海道地方", value: "hokkaido"},
            {text: "関東地方", value: "kanto"},
            {text: "近畿地方", value: "kinki"},
            {text: "沖縄地方", value: "okinawa"},
          ],
        departureAirports: [],
        departurePlace: '',
        destinationPlace: '',
        destinationAirports: [],
        timeBasedPrice: [
          {time: "8:00", price: "5000"},
          {time: "12:00", price: "7500"},
          {time: "19:00", price: "10000"},
        ],
        pricePerMan:0,
        firstName: "",
        lastName: "",
        birthday: "",
        genders: ["男", "女"],
        companions: 0,
        selectedGender: ""
      },
      computed: {
        isUpperVal:function(){
          return this.companions >= 9
        },
        isLowerVal:function(){
          return this.companions <= 0
        }
      },
      watch: {
        departureRegion: function(val){
          axios.get("/api/v1/mock/search/airports", {
            params: {region:val}
          }).then(function(res){
            this.departureRegion = res.data.names
          }.bind(this))
        },
        destinationRegion: function(val){
          axios.get("/api/v1/mock/search/airports", {
            params: {region:val}
          }).then(function(res){
            this.destinationRegion = res.data.names
          }.bind(this))
        }

      }
    })
  </script>
</body>
</html>
